.navbar-brand {
  img {
    height: 32px;
    margin-top: -7px;
  }
}

.navbar-nav {
  .currency-switcher {
    padding-top: 0.1em;

    button {
      color: $text-color;
      cursor: pointer;
    }
  }

  .nav-item {
    padding-right: 2px;
  }
}
