.historical-data {
  margin-top: 3em;
  .contents {
    .row {
      border-bottom: 1px solid $gray-200;
      font-size: 0.8em;
      padding: 0.15em 0;
    }

    .positive {
      color: $cl-green;
    }
    .negative {
      color: $cl-pink;
    }
  }
}
