@import './components/_basic-info.scss';
@import './components/_markets.scss';
@import './components/_graph.scss';
@import './components/_currency-info.scss';
@import './components/_historical-data.scss';

.crypto-deep-info {
  color: $gray-700;
  .hero {
    align-items: baseline;
    .name {
      margin-bottom: 0;
    }
    .symbol {
      margin-bottom: 1em;
    }
    .computed-market {
      align-self: center;
      color: $gray-700;
    }
  }

  .change {
    &.negative {
      color: $negative-change;
    }
    &.positive {
      color: $positive-change;
    }
  }

  .price-container,
  .market-cap-container {
    font-size: 0.9em;
  }
}
