.crypto-list-grid {
  width: 100%;

  tr > td, tr > th{
    padding: .5em 0;
  }

  tr {
    border-bottom: 1px solid $gray-500;
  }

  th {
    color: $gray-600;
  }

  .numeral {
    text-align: right;

    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }
}
