.crypto-list-grid {
  width: 100%;

  tr > td, tr > th{
    padding: .5em 0;
    vertical-align: middle;
  }

  tr {
    border-bottom: 1px solid $gray-400;

    &:last-child {
      border-bottom: none;
    }
  }

  th {
    color: $gray-600;

    a {
      color: $gray-600;
      text-decoration: underline;

      .name {
        padding-right: 0.4em;
      }
    }
  }

  .numeral {
    text-align: right;

    &.positive {
      color: green;
    }
    &.negative {
      color: red;
    }
  }

  .mini-graph {
    float: right;
  }

  .currency-icon {
    font-size: 1.5em;
    margin-right: .5em;
  }
}
