.crypto-list-grid {
  width: 100%;

  .currency-list-item {
    display: flex;
    flex-direction: row;
    padding: 0.7em 0.5em;
    &:hover {
      background-color: $gray-900;
      cursor: pointer;
      text-decoration: none;
    }

    .currency-info {
      .name {
        font-size: 0.9em;
      }

      .price {
        font-size: 0.7em;
        color: $gray-100;
      }
    }

    .currency-icon-rank {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-content: center;
      justify-content: center;
      width: 2.3em;

      .currency-icon {
        font-size: 1.2em;
        line-height: 1em;
        color: $text-color;
      }

      .currency-rank {
        font-size: 0.6em;
        color: $gray-200;
      }
    }

    .currency-graph {
      align-self: center;
    }
  }

  .search {
    input[type='text'] {
      width: 80%;
      display: inline-block;
      color: $gray-100;
    }

    .btn {
      float: right;
    }

    button {
      position: relative;
      top: -0.25em;
    }
  }

  .pagination-container {
    display: flex;
    justify-content: center;

    .pagination {
      padding: 1em;
    }
  }
}
