$cl-green: #74a321;
$cl-orange: #f87a0b;
$cl-pink: #ff7777;
$cl-blue: #43d7ff;
$primary: $cl-blue;

$background: #2a2a2e;
$highlight: lighten($background, 10%);
$text-color: #eee;
$paragraph: $text-color;
$dimmed-text: #888;

$positive-change: $cl-green;
$negative-change: $cl-pink;
